@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: local("DM Sans"), url('../../assets/fonts/DMSans/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: local("DM Sans"), url('../../assets/fonts/DMSans/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: local("DM Sans"), url('../../assets/fonts/DMSans/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
}