$_dark: (
   '700': #f7f7f7,
   '500': #b7b7b7,
   '300': #e0e0e0,
   '100': #282e3e,
   '50': rgba(1, 1, 1, 0.05),
   'base': #010101,
);

$_light: (
   '500': rgba(255, 255, 255, 0.5),
   '100': rgba(255, 255, 255, 0.15),
   'base': #ffffff,
);

$colors: (
   'dark': $_dark,
   'light': $_light,
   ) !default;

@function color($color, $key) {
   @return var(#{--#{$color}
   }

   -#{$key}
);
}

@function colorOrg($color, $key) {
   $content: map-get($colors, $color);

   @if (map-has-key($content, $key)) {
      $result: map-get($content, $key);
      @return $result;
   }

   @return '';
}

:root {

   @each $color,
   $value in $colors {

      @each $shade,
      $value in map-get($colors, $color) {
         $jo: --#{$color};
         #{$jo}-#{$shade}: #{colorOrg($color, $shade)};
      }
   }
}

@each $color,
$value in $colors {

   @each $shade,
   $value in map-get($colors, $color) {
      .text-#{$color}-#{$shade} {
         color: #{color($color, $shade)};
      }

      .bg-#{$color}-#{$shade} {
         background-color: #{color($color, $shade)};
      }
   }
}

// usage
$color-black: color('dark', 'base');
$color-black_80: color('dark', '800');
$color-black_05: color('dark', '50');
$color-white: color('light', 'base');
$color-white_50: color('light', '500');
$color-white_15: color('light', '100');

$container-full-margin: 60px;
$container-full-margin-sm: 20px;

// $color-primary: #ff8c32;
// $color-primary--light: #ffbd62;
// $color--error-main: #ff732d;
// $color-sidebar: #fff;
// $color-sidebar-hover: #eeeeee;
$color--blue-gray: #CDDAF7;
$color--blue-grey: #071134;
$color--blue: #01C0FF;
$color--deep-blue: #6E90FF;
$color--white: #ffffff;
$color--light--white: #CDDAF7;
$color--light-grey: #96A9D2;
$color--light-light-grey: #E3F0FA;
$color--light: #F2FBFF;
$color--red: #E81224;
$color--green: #16C60C;
$color--yellow: #FFF100;
$color--blue-blur: #D0DFFF;
$bg--linear-gradient: linear-gradient(90deg, #2854EE 0%, #00C2FF 95.58%);
$bg--dark: #04113E;
$bt-border: #1AACFF;
$text: #253A81;
$text--dark: #081135;
$text--light: #D9D9D9;
$text--light--80: rgba($color--white, 0.8);

$text--linear-gradient: linear-gradient(90deg, #2854EE 43.3%, #00C2FF 67.97%);
$text--linear: linear-gradient(90deg, #2854EE -19%, #00C2FF 66.79%);
$text-eplore-energy-solution-linear-gradient-blue: linear-gradient(194.02deg, #4AF3F8 19.78%, #29C4F8 73.46%, rgba(9, 80, 205, 0.8) 104.97%);
$gradient-blue: linear-gradient(90deg, #0080FF 0%, #00C2FF 50%, #23D5E0 100%);
$radial-gradient: radial-gradient(95% 196.3% at 2.33% 86.11%, #383CA3 0%, #2892E0 100%);
$bg--ellipse: rgba(48, 185, 255, 0.3);
$bg--ellipse-2: rgba(0, 169, 255, 0.7);
$color_background: #071134;
$bg--linear-dark: linear-gradient(360deg, #04113E 0%, #0950CD 155.68%);

$bg--blur: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.075) 100%);
$bg--blur-hor: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 0.01%, rgba(255, 255, 255, 0.075) 100%);
$bg--blur-hor-rev: linear-gradient(270deg, rgba(255, 255, 255, 0.1) 24.3%, rgba(255, 255, 255, 0.05) 100%);
$bg-radial: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(38, 229, 255, 0) 86.98%);

// $color-text-primary: #06113c;
// $color-text-secondary: #73777b; //link palette: https://colorhunt.co/palette/15133c73777bec994bf1eee9
// $color-divider: #eaeaef;
// variables
$font-main: 'DM Sans';
// $border-radius--common: 4px;
// $transition--common: all 0.3s ease;
$box-shadow-header: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$linear-gradient-blue-about-us: linear-gradient(180deg, rgba(8, 20, 56, 0) 0%, #071134 75%);